body {
    margin: 0;
    background: #0a0a0a;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-size: 40px;
    margin-bottom: 25px;
    background: linear-gradient(90deg, #fff, #777);
    -webkit-background-clip: text;
    color: transparent;
}

.launch-btn {
    background: linear-gradient(145deg, #1d1d1d, #0e0e0e);
    border: none;
    padding: 15px 35px;
    color: white;
    font-size: 20px;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0 0 15px #000, inset 0 0 10px #111;
    transition: 0.2s;
}

.launch-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #000, inset 0 0 15px #222;
}

.launch-btn:active {
    transform: scale(0.95);
}
